body {
    height: 35vh;
}

#a {
    background-color: purple;
    display: flex;
    height: 100%;
}
.b {
    display: flex;
    height: 100%;
}
#c {
    background-color: blue;
    display: flex;
    width: 100%;
}
#d {
    background-color: black;
    display: flex;
    width: 100%
}
#e {
    background-color: purple;
    display: flex;
    width: 100%;
}
#f {
    background-color: blue;
    display: flex;
    height: 100%;
}