#z {
    height: 30px;
    background: green;
}
.a {
    background-color: orange;
    display: grid;
}
.b {
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: blue;
    border-color: black;
}